Напишите программу, реализующую структуру данных, позволяющую добавлять и удалять элементы, а также находить k-й максимум. Вам достаточно поддерживать в вершине количество элементов в ее поддереве, обновлять эту величину при каждом обновлении вершины, а затем делать спуск.
0-вывести к-ый максимум
INPUT:
11
+1 5
+1 3
+1 7
0 1
0 2
0 3
-1 5
+1 10
0 1
0 2
0 3
OUT:
7
5
3
10
7
3
